<div class="container d-flex flex-grow-1 align-items-center">
  <div class="row">
    <div>
      <h1>
        Easy Accounting Software
        <br>
        meets your all business
        <br>
        requirements
      </h1>

      <p class="text-capitalize mb-4">
        Balancing you books, client relationships and Business
        <br>
        isn't easy. Easy accounts give you the info and time
        <br>
        you need to focus on your big picture.
      </p>

      <button mat-flat-button color="primary" class="text-uppercase">Start your free trial</button>
    </div>
  </div>
</div>
<div class="text-uppercase policy-info align-self-end bg-grey p-2">
  By continuing, you agree to the terms of service and privacy policy.
</div>
