<div class="container">
  <div class="row">
    <mat-toolbar class="justify-content-between bg-transparent">
      <div>Easy Accounting</div>

      <div>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
        <a mat-flat-button class="mx-1 text-uppercase" routerLink="auth/login">Features</a>
        <a mat-flat-button class="mx-1 text-uppercase" routerLink="auth/login">Pricing</a>
        <a mat-flat-button class="mx-1 text-uppercase" routerLink="auth/login">Contact us</a>
        <a mat-flat-button class="mx-1 text-uppercase" routerLink="auth/login">Sign in</a>
        <button mat-flat-button color="primary" class="mx-1 text-uppercase">Try it free</button>
      </div>
    </mat-toolbar>
  </div>
</div>
