<div class="container">
  <h1 class="text-center text-indigo mb-5">Tools for all size of industry</h1>

  <div class="row mb-5">
    <div class="col">
      <app-business-category-card
        imageUrl="assets/images/250px-Zonaspace-coworking-collaboration.jpg"
        title="Freelance & self employed"
        index="1"
        text="Lorem Ipsum is simply dummy text of the printing
        and typesetting industry typesetting industry">
      </app-business-category-card>
    </div>

    <div class="col">
      <app-business-category-card
        imageUrl="assets/images/250px-Zonaspace-coworking-collaboration.jpg"
        title="SMB & midmarket"
        index="2"
        text="Lorem Ipsum is simply dummy text of the printing
        and typesetting industry typesetting industry">
      </app-business-category-card>
    </div>

    <div class="col">
      <app-business-category-card
        imageUrl="assets/images/250px-Zonaspace-coworking-collaboration.jpg"
        title="Corporate & Enterprise"
        index="3"
        text="Lorem Ipsum is simply dummy text of the printing
        and typesetting industry typesetting industry">
      </app-business-category-card>
    </div>
  </div>

  <div class="row">
    <mat-card class="w-100">
      <div class="d-flex px-5 justify-content-between">
        <div>
          <h2 class="text-indigo mb-4">
            Take advantage of our
            <br>
            exclusive offer of 50% off
            <br>
            Accounting for 6 months.
          </h2>

          <button
            mat-flat-button
            color="primary"
            class="text-uppercase px-5">
            Buy now and save
          </button>
        </div>

        <img src="assets/images/download.jpeg">
      </div>
    </mat-card>
  </div>
</div>
