<div class="container">
  <div class="row mb-5">
    <div class="col-3">
      <h3 class="mt-0">Easy <strong>Accounting</strong></h3>

      <div>01&nbsp;&nbsp;About Us</div>
      <div>02&nbsp;&nbsp;Features</div>
      <div>03&nbsp;&nbsp;Pricing</div>
      <div>04&nbsp;&nbsp;Contact</div>
    </div>

    <div class="col-9">
      <div class="mb-5">
        <small>At Ingram Call Accountants we offer friendly, accessible accountancy service.
          We are a small boutique firm based in Thorton NSW. Our team is kept nimble allowing
          us to act and react quickly to daily items in your business. At Ingram Call Accountants
          you always have direct access to your accountant.
        </small>
      </div>
      <div class="d-flex">
        <input
          email
          matInput
          type="email"
          placeholder="Enter Your Email"
          class="form-control d-inline-block w-auto py-0 mr-4 flex-grow-1"
          [(ngModel)]="email">
        <button
          mat-flat-button
          color="primary"
          class="text-uppercase"
          (click)="emitSubscribe()">
          Subscribe now
        </button>
      </div>
    </div>
  </div>
  <div class="text-center">
    <small class="mr-2">2021 Copyright</small>
    <small class="mr-2">Easy Accounting</small>
    <small class="mr-2">|</small>
    <small>Thorton. Bespoke by Ben</small>
  </div>
</div>
