$brand-size: 40px;
$padding: 32px;

:host {
  padding: $padding;
}

form {
  width: 320px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.brand {
  height: $brand-size;
  align-self: center;
  margin-bottom: $padding;
}
