<div class="container">
  <h1 class="text-center text-indigo mb-5">Simplify your business tasks</h1>
  <div class="row">
    <div class="col">
      <mat-card class="d-flex justify-content-center">
        <div class="icon-container py-4">
          <mat-icon color="primary">receipt</mat-icon>
        </div>
      </mat-card>
      <h3 class="text-capitalize text-center text-indigo mb-0">Create invoice</h3>
    </div>

    <div class="col">
      <mat-card class="d-flex justify-content-center">
        <div class="icon-container py-4">
          <mat-icon color="primary">receipt_long</mat-icon>
        </div>
      </mat-card>
      <h3 class="text-capitalize text-center text-indigo mb-0">Pay bills</h3>
    </div>

    <div class="col">
      <mat-card class="d-flex justify-content-center">
        <div class="icon-container py-4">
          <mat-icon color="primary">point_of_sale</mat-icon>
        </div>
      </mat-card>
      <h3 class="text-capitalize text-center text-indigo mb-0">Payrolls</h3>
    </div>

    <div class="col">
      <mat-card class="d-flex justify-content-center">
        <div class="icon-container py-4">
          <mat-icon color="primary">request_quote</mat-icon>
        </div>
      </mat-card>
      <h3 class="text-capitalize text-center text-indigo mb-0">Taxes</h3>
    </div>
  </div>
</div>
